<a href="https://colab.research.google.com/github/LanceAndrei10/Excercise/blob/main/Opana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.impute import KNNImputer
import pandas as pd

In [10]:
df=pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [11]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
missing_data_summary = df.isnull().sum()

In [14]:
df['Age'] = pd.to_numeric(df['Age']).round().astype('Int64', errors='ignore')

In [19]:
df['Fare'] = pd.to_numeric(df['Fare']).round().astype('Int64', errors='ignore')

In [20]:
df['Name'] = df['Name'].astype("category")

In [21]:
df['Sex'] = df['Sex'].astype("category")

In [22]:
df['Cabin'] = df['Cabin'].astype("category")

In [23]:
df['Embarked'] = df['Embarked'].astype("category")

In [42]:
df['Embarked'].fillna(df['Embarked'].mode(0),inplace=True)

In [24]:
df['Ticket'] = df['Ticket'].astype("category")

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    category
 4   Sex          891 non-null    category
 5   Age          714 non-null    Int64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    category
 9   Fare         891 non-null    Int64
 10  Cabin        204 non-null    category
 11  Embarked     889 non-null    category
dtypes: Int64(2), category(5), int64(5)
memory usage: 123.8 KB

In [28]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [29]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [44]:
df["Age"].fillna(df['Age'].mean(),inplace = True)

TypeError: Invalid value '29.69327731092437' for dtype Int64